/* Hide parts of biocache hubs that are not needed in MDBA hub */
ul#searchTabs #t1,ul#searchTabs #t3,ul#searchTabs #t4,ul#searchTabs #t5, #simpleSearch, #taxaUpload, #catalogUpload, #spatialSearch{
    display: none;
}

#advancedSearchForm > b:nth-child(11), #advancedSearchForm > table:nth-child(12),
#advancedSearchForm > b:nth-child(15), #advancedSearchForm > table:nth-child(16),
#advancedSearchForm > b:nth-child(17), #advancedSearchForm > table:nth-child(18),
#advancedSearchForm > b:nth-child(19), #advancedSearchForm > table:nth-child(20)
{
    display: none;
}

#advancedSearchForm > table:nth-child(14) > tbody > tr:nth-child(1) {
    display: none;
}